.posts {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .post {
    padding-bottom: 40px;
    &:last-child {
      padding-bottom: 0;
    }
    h2 {
      font-size: 27px;
      margin: 0 0 10px;
      text-align: center;
      a {
        color: var(--content-secondary);
        &:hover {
          color: var(--content-primary);
        }
      }
    }
  }
  .meta {
    font-size: 13px;
    text-align: center;
    font-weight: 300;
    margin-bottom: 20px;
  }
  .featured {
    max-height: 330px;
  }
  .excerpt {
    margin: 30px 0 15px;
    font-weight: 300;
    letter-spacing: 0.02em;
  }
  .button {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    padding: 20px 0;
    a {
      color: var(--content-secondary);
      padding: 8px 12px;
      border: 1px solid var(--content-secondary);
      &:hover {
        color: var(--text-title);
        border-color: var(--content-primary);
        background-color: var(--content-primary);
      }
    }
  }
  .filterButton {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
  
  .filterButton button {
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 3px;
    background: var(--text-title);
    border: none;
    color: var(--shadow-color);
    text-transform: capitalize;
    cursor: pointer;
  }
  
  .filterButton button:hover {
    background: var(--content-secondary);
    color: var(--text-title);
  }