.content {
  color: var(--element-color);
    h1 {
      font-size: 35px;
      margin: 0 0 10px;
      text-align: center;
    }
  }
  .meta {
    font-size: 15px;
    display: flex;
    text-align: center;
    font-weight: 300;
    align-self: center;
    justify-content: center;
    max-width: 750;
  }
  .featured {
    display: flex;
    align-self: center;
    max-height: 270px;
    margin-bottom: 25px;
  }
  
  img {
    margin: 0.3rem;
    width: 1rem;
    height: 1rem;
  }
  .author-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 750px;
    margin-bottom: 20px;
  }
  .author-pic {
    align-self: center;
    height: 50px;
    width: auto;
    border-radius: 100%;
    overflow: hidden;
  }
  .author-descrip {
    font-size: 14px;
    margin-left: 0.5rem;
  }
  .tags {
    color: var(--secondary-color);
    padding: 2px;
    background-color: var(--primary-color);
    border: dashed 1px var(--secondary-color);
    text-decoration: none;
  }

  .share-btn {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 1rem;
    align-items: center;
    padding: 0.3rem;
    background-color: var(--icons);
    border: 1rem solid var(--bg-color);
    border-style: double;
  }
  .nav-container {
    display: flex;
    align-items: center;
  }
  .previous {
    color: var(--secondary-color);
    margin-right: auto;
  }
  .next {
    margin-left: auto;
  }