.content {
  color: var(--element-color);
    h1 {
      font-size: 35px;
      margin: 0 0 10px;
      text-align: center;
    }
  }
  .meta {
    font-size: 15px;
    display: block;
    text-align: center;
    font-weight: 300;
    margin-bottom: 20px;
  }
  .featured {
    display: flex;
    align-self: center;
    max-height: 270px;
    margin-bottom: 25px;
  }
  
  img {
    margin: 0.3rem;
    width: 1rem;
    height: 1rem;
  }

  .share-btn {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 1rem;
    align-items: center;
    padding: 0.3rem;
    background-color: var(--icons);
    border: 1rem solid var(--bg-color);
    border-style: double;
  }
  .nav-container {
    display: flex;
    align-items: center;
  }
  .previous {
    margin-right: auto;
  }
  .next {
    margin-left: auto;
  }