li {
    font-size: 18px;
}

.links {
    flex: 1;
    align-items: center;
    width: 80%;
    font-size: 20px;
    padding: 1rem;
    margin-left: 2px;
    
}
.form-container {
    flex: 1;
    background-color: var(--form-a);
    padding: 1rem;
}
.title {
    font-size: 20px;
    color: var(--primary-color);
    margin-left: 1rem;
    text-align: center;
}
.btn-container {
    align-self: center;
}
.btn {
    background-color: var(--form-b);
    border: solid;
    border-radius: 2px;
    border-color: var(--form-btn);
}
form {
    box-sizing: border-box;
    padding: 2rem;
    background-color: var(--bg-color);
    border: 4px solid var(--form-btn);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

p {
    display: table-row;
}

textarea {
    font: 1.25rem;
    display: table-row;
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem 0.75rem;
}

input {
    font: 1.25rem;
    display: table-row;
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem;
}

label {
    display: table-row;
}
