$color-a: #d3b3c2;
$color-b: #e6c5d7;

li {
    font-size: 18px;
}

.links {
    flex: 1;
    align-items: center;
    width: 80%;
    font-size: 20px;
    padding: 1rem;
    margin-left: 2px;
    
}
.form-container {
    flex: 1;
    background-color: $color-a;
    padding: 1rem;
}
.title {
    font-size: 20px;
    color: #464646;
    margin-left: 1rem;
    text-align: center;
}
.btn-container {
    align-self: center;
}
.btn {
    background-color: $color-b;
    border: solid;
    border-radius: 2px;
    border-color: hsl(0, 0%, 90%);
}
form {
    box-sizing: border-box;
    padding: 2rem;
    background-color: hsl(0, 0%, 100%);
    border: 4px solid hsl(0, 0%, 90%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

p {
    display: table-row;
}

textarea {
    font: 1.25rem;
    display: table-row;
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem 0.75rem;
}

input {
    font: 1.25rem;
    display: table-row;
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem;
}

label {
    display: table-row;
}
