.site-footer {
  position: fixed;
  left: 0pt;
  width: 100%;
  bottom: 0pt;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  background-attachment: scroll;
  background-position: 0% 0%;
  height: 60px;
}
.container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  max-width: 750px;
  padding: 1rem;
}
.left {
  margin-right: auto;
}
.right {
  margin-left: auto;
}

.link {
  padding: 1rem;
  color: var(--secondary-color);
}
.nav-btn {
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  background-color: var(--primary-color);
  border: solid 2px var(--secondary-color);
  color: var(--secondary-color);
}