.repos {
    display:list-item ;
    // align-items: center;
    align-content: center;
}
.main-border {
    color: var(--element-color);
    width: 90%;
    border: solid;
    border-width: 1px;
    border-color: var(--element-color);
    padding: 1rem;
    margin-bottom: 1rem;
}
.info {
    color: var(--element-color);
    display: inline-block;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 0.75rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    font-size: 18px;
}
.read-me {
    color: var(--element-color);
    max-height: 300px;
    overflow: auto;
    border: 1px dashed var(--element-color);
    margin: 1rem;
    padding: 1rem;
}

.image {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-between;
    width: 95%;
    height: auto;
}
.content {
    color: var(--element-color);
}